* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 47%, rgba(120,9,121,1) 100%);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    width: 70%;
    height: 90%;
    background-color: gray;
    border-radius: 25px;
    background: rgb(55,0,59);
    background: linear-gradient(180deg, rgba(55,0,59,1) 47%, rgba(120,9,121,1) 100%);
    box-shadow: #ff41de -7px 5px 20px, #ff41de 7px -5px 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 250px;
}

#accordion img {
    width: 33%;
    margin: auto;
}

.ui-accordion-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

    .ui-accordion-content p {
        text-align: justify;
    }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #d235be;
    background: #d535bf;
    font-weight: normal;
    color: #fff;
}

@media all and (max-width: 500px) {
    #accordion img {
        width: 50%;
        margin: auto;
    }
}


@media all and (max-width: 260px) {
    html, body {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        background: rgb(2,0,36);
    }
}